// ヘッダー
.header{
    background-color: paleturquoise;
    height: 48px;
    position: relative;
    border-bottom-style:double;
    border-bottom-width:1px;
    display: flex;
    align-items: center;
    &__logo{
        display: inline-block;
        font-size: 1.25rem;
        padding-left: 8px;
    }
    &__nav{
        display: flex;
        width: 100%;
    }
}

.flex-container{
    display: flex;
}

.side-bar{
    background-color: darkcyan;
    color: ghostwhite;
    height: calc(100vh - 48px);
    padding: 0.5rem;
    top: 48px;
    &__category{
        padding-bottom: 1rem;
        &__label{
            font-size: 1.5rem;
            display: inline-block;
            padding-bottom: 0.5rem;
        }
        &__list{
            padding-left: 1rem;
            &__item{
                display: block;
                padding: 0.25rem;
            }
        }
    }
}

// 横並びのリスト
.horizontal-list{
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 0;
    position: relative;
    &__item{
        display: inline-block;
        padding-right: 8px;
    }
    &--left{
        padding-left: 16px;
    }
    &--right{
        text-align: right;
        padding-right: 16px;
        align-items: flex-end;
    }
}
// 縦並びのリスト
.vertical-list{
    display: flex;
    flex-direction: column;
    &--indent{
        padding-left: 1rem;
    }
    &__item{
        display: block;
        padding-bottom: 0.5rem;
        &__card{
            min-width: 120px;
            max-width: min(120px, 100%);
            padding: 0.5rem;
            border-radius: 0.5rem;
            border-style: ridge;
            border-width: 1px;
        }
    }
}

.login-form-box{
    justify-content: center;
    padding-top: 15vh;
    width:380px;
    &__header{
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        background-color: powderblue;
        padding: 1rem;
        text-align: center;
    }
    &__content{
        background-color: azure;
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    &__footer{
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background-color: powderblue;
        padding: 1rem;
        text-align: center;
    }
}

.form-box{
    justify-content: center;
    width:380px;
    &__header{
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        background-color: powderblue;
        padding: 1rem;
    }
    &__content{
        background-color: azure;
        display: flex;
        padding: 1rem;
    }
    &__footer{
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background-color: powderblue;
        padding-top: 0.5rem;
        padding-left: 1rem;
        padding-bottom: 0.5rem;
    }
}

//ラッパー
.login-wrapper{
    display: flex;
    justify-content: center;
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.form-input{
    background-color: ghostwhite;
    border-style: ridge;
    border-radius: 0.25rem;
    border-width: 1px;
    display: block;
    width: 100%;
    padding-top: 8px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 8px;
    &--select{
        -webkit-appearance: menulist-button;
        -moz-appearance: menulist-button;
        appearance: menulist-button;
        padding-bottom: 2px;
    }
    &:disabled{
        background-color: #e9ecef;
        opacity: 1;
    }
}

.form-label{
    padding-bottom: 4px;
}

.form-message{
    display: inline-block;
    padding: 0.25rem;
    &--error{
        color: red;
    }
}

.form{
    &__group{
        padding-right: 2rem;
        padding-bottom: 24px;
    }
    &--flex{
        display: flex;
        align-items: end;
    }
}

.button{
    border-radius: 0.25rem;
    color: ghostwhite;
    display: inline-block;
    text-align: center;
    padding: 0.375rem 0.75rem;
    background-color: #0099ff;
    &--delete{
        background-color: darkgray;
    }
    &--cancel{
        background-color: darkgray;
    }
}

.contents-wrapper{
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.contents{

    &__title{
        display: inline-block;
        padding-top: 1rem;
        padding-left: 1rem;
        font-size: 1.25rem;
    }
    &__content{
        padding-top: 2rem;
        padding-left: 2rem;
        &__actions{
            padding-bottom: 1rem;
        }
    }
}

.list-table{
    border-collapse: collapse;
    border-spacing: 0;
    &__head{
        background-color: paleturquoise;
        border-style: double;
        border-bottom-width: 4px;
        >tr > th{
            padding:1rem;
        }
    }
    &__body{
        border-style: double;
        border-bottom-width: 4px;
        >tr {
            border-style: ridge;
            border-bottom-width: 4px;
            >td{
                vertical-align: middle;
                padding: 1rem;
            }
        }
    }
}

// モーダル関係
.modal-wrapper{
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 60px 10px;
    text-align: center;
    &__overlay{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        opacity: 0.5;
        z-index: 10;
    }
    &__window{
        display: inline-block;
        position: relative;
        z-index: 20;
        text-align: left;
        &__close-mark{
            position: absolute;
            top: 0;
            right: 0;
            display: inline-block;
            background-color: lightgray;
            border-top-right-radius: 0.5rem;
            font-size: 1.25rem;
            padding: 4px;
        }
    }
}

.modal-wrapper:not(:target){
    visibility:hidden;
    transition:opacity .1s visibility .1s;
}
.modal-wrapper:target{
    visibility: visible;
    transition:opacity .1s visibility .1s;
}


// react周り
.react-wrapper{
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.search-area{
    padding-top: 1rem;
}
.result-area{
    padding-top: 1rem;
}

.search-box{
    background-color: azure;
    padding: 1rem;
    border-radius: 0.25rem;
    border-style: ridge;
}

.info-area{
    padding-top: 1rem;
}

.image-area{
    display: flex;
    padding-top: 1rem;
}

.image-box{
    width:480px;
    height:480px;
    background-color: azure;
    position:relative;
    &__image{
        position: absolute;
        z-index: 500;
        width:480px;
        height:auto;
    }
    &__plot-table{
        position: absolute;
        z-index: 600;
        width:100%;
        height:100%;
        display: grid;
        grid-template-rows: repeat(auto-fit, minmax(min(24px, 100%), 1fr));
        &__row{
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(min(24px, 100%), 1fr));
            &__cell{
                border-style: ridge;
                border-width: 1px;
                opacity: 0.5;
                user-select: none;
                &--red{
                    background-color: red;
                }
                &--yellow{
                    background-color: yellow;
                }
                &--blue{
                    background-color: lightblue;
                }
                &--selected{
                    border-style: solid ;
                    border-color: red;
                }
            }
        }
    }
}

.left-block{
    padding-right: 0.5rem;
}

.right-block{
    padding-left: 0.5rem;
}

.detail-area{
    padding-top: 1rem;
}

.plot-table{
    position: absolute;
    z-index: 600;
    width:100%;
    height:100%;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(min(24px, 100%), 1fr));
    &__row{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(min(24px, 100%), 1fr));
    }
    &__cell{
        border-style: solid;
        border-width: 1px;
    }
}


